<h1><%= link "Snippets", to: Routes.cms_snippet_path(@conn, :index) %> / <%= @cms_snippet.name %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.cms_snippet_path(@conn, :update, @cms_snippet)) %>
