<h1><%= link "Pages", to: Routes.cms_page_path(@conn, :index) %> / <%= link @cms_page.path, to: Routes.cms_page_path(@conn, :show, @cms_page) %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.cms_page_path(@conn, :update, @cms_page)) %>
