body { margin: 0; padding: 0; }

// #Imagine-View-Toolbar {
// }
.Imagine-Toolbar {
  position: sticky; top: 0px; z-index: 10000;
  width: 100%;
  padding: 8px 10px;
  box-sizing: border-box;
  background-color: #eaeaea;
}
.Imagine-Toolbar-Content {
  position: relative;
  // max-width: 980px;
  margin: 0 auto;
  display: flex;

  * {
    flex: 0 1 auto;
    display: inline-block;
    margin: 0 0 0 4px;
    &:first-child { margin-left: none; }
  }

  a {
    box-sizing: border-box;
    height: 27px;
    font-size: 16px;
    line-height: 20px;
    padding: 5px 16px 4px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: normal;
    color: #eee;
    background-color: #777;
    border-radius: 4px;
  }
  select {
    box-sizing: border-box;
    height: 27px;
    width: 200px;
    padding: 0 24px 0 5px;
    background-color: #f0f0f0;
    border-radius: 4px;
    font-size: 14px;

    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 8px top 50%, 0 0;
    background-size: .65em auto, 100%;

    // &::-ms-expand {
    //   display: none;
    // }
    // &:hover {
    //   border-color: #888;
    // }
    // &:focus {
    //   border-color: #aaa;
    //   box-shadow: 0 0 1px 2px rgba(59, 153, 252, .7);
    //   box-shadow: 0 0 0 2px -moz-mac-focusring;
    //   color: #222; 
    //   outline: none;
    // }
    // option {
    //   font-weight:normal;
    // }

    &.old-version { border: 1px solid red; }
  }
}
#Imagine-Edit-Page-Content-Button {
  color: #ddd;
  background-color: #444;
  font-weight: bold;
  padding-left: 24px;
  padding-right: 24px;
}
#Imagine-Save-Page-Content-Button {
  color: #ddd;
  background-color: #444;
  font-weight: bold;
  padding-left: 24px;
  padding-right: 24px;
}
#Imagine-Logout-Button {
  position: absolute;
  top: 0; right: 0;

  /* not sure why these are needed */
  box-sizing: border-box;
  height: 27px;
  padding-top: 4px;
}
.Imagine-Toolbar-Content a:hover {
  color: #fff;
  background-color: #888;
}

// place certain ui elements above toolbar
.ui.dimmer {
  z-index: 10000 !important;
}

.ui.toast-container.top.right {
  top: 50px !important;
  right: 10px !important;
}

#Imagine-Properties-Modal {
  * { box-sizing: border-box; }

  .close { top: 0.25rem; right: 0.15rem; }
  .header { line-height: 1.1; padding: 0.9rem 1.5rem; }
  .content { max-height: 67vh; overflow: scroll; }
  .fields.flex {
    .field { flex: 1 1 auto; }
  }

  font-family: 'Lato', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif !important;
  .header {
    font-size: 20px;
  }
  #Imagine-Properties-Form {
    font-size: 14px;
    * { font-size: 14px; }
  }
}

/*** <codemirror> ***/
.Imagine-CmsPageObject-TextEditor {
  .CodeMirror {
    // font-family: Arial, monospace;
    font-size: 14px;
  }
}
/*** </codemirror> ***/

/*** <article-editor> ***/
.Imagine-CmsPageObject-TextEditor {
  .arx-top-container {
    position: fixed;
    top: 45px;
    left: 0;
    z-index: 10000;
    border: 1px solid #aaa;
    border-width: 0 1px 1px 0;

    .arx-toolbar-container { display: none; position: relative; }
  }
}
.arx-tooltip {
  position: absolute;
  z-index: 10001;
}
/*** </article-editor> ***/

/*** <redactor> ***/
#Imagine-RTE-Toolbar {
  padding: 10px 0 0 4px;
}
.redactor-dropdown, .re-button-tooltip { z-index: 10001;}
/*** </redactor> ***/

/*** <summernote> ***/
.Imagine-CmsPageObject-TextEditor {
  .note-editor.note-frame {
    border: 2px dashed gray;
    // max-height: 80vw;
  }
}
.note-modal {
  top: 105px !important; // make sure they don't appear under toolbars
  .note-modal-header {
    padding-top: 14px;
    button.close { margin-top: 1px; }
  }
  .note-modal-body {
    max-height: calc(85vh - 225px); // make sure OK button is on screen
    overflow: scroll;
  }
  .note-imageAttributes-width, .note-imageAttributes-height { width: 100px !important; }
}
/*** </summernote> ***/

@media only screen and (max-width: 788px) {
  #Imagine-Logout-Button { display: none; }
  .Imagine-Toolbar-Content {
    select { max-width: 82px; }
  }  
}

@media only screen and (max-width: 461px) {
  .Imagine-Toolbar {
    padding: 10px 5px;
  }
  .Imagine-Toolbar-Content {
    a {
      padding: 4px 6px 2px;
      font-size: 13px;
    }
    #Imagine-Edit-Page-Content-Button {
      padding: 4px 12px 2px;
    }
  }
  #Imagine-Properties-Modal {
    .fields.flex {
      flex-wrap: wrap;
    }
  }
}